<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgeats - Home Food Cost Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style_pantry.css') }}">
    
</head>
<body>
    <div class="whole">
        <header class = "flex">
            <div>
                <a href="/"><img src="{{ url_for('static', filename ='/images/logo.png') }}" href = "/" id = "logo" alt="Budgeats logo"></a>             
            </div>
            <div>
                <h2><a href="/dashboard">dashboard</a></h2>
                <h2 class = "orange">pantry</h2>
                <h2><a href="/recipes">recipes</a></h2>
                <h2><a href="/costs">cost analysis</a></h2>
            </div>
            <div>
            <p><a href="/logout">Settings</a> | <a href="/logout">Logout</a></p>
            </div>
        </header>
        <div class="header2 flex-center">
            
                <h2><a href="/pantry/view">VIEW</a></a></h2>
                <h2><a href="/pantry/add">ADD</a></h2>
                <h2 class = "selected">USE</h2>
                <h2><a href="/pantry/edit">EDIT</a></h2>            
        </div>
    <main class>
        <br>
        <div class="box">
        <h1>Use Ingredients</h1><br>
            <form action="/pantry/use/process" method = "post">
            <h3>Ingredient Name:</h3>
            <select name="ingredient_id">
                {% for ingredient in all_ingredients %}
                <option value={{ingredient.id}}>{{ingredient.ingredient_name}}</option>
                {% endfor %}
                
            </select><br><br>
            <h3>Quantity:</h3>
            <input type="number" step = "any" name="quantity_used" class = "textbar"><br><br>            
            <h3>Use Type:</h3>
            <select name="use_type" value = "Normal">
                <option value="normal">Normal</option>
                <option value="waste">Waste</option>
            </select><br><br>
            <h3>Date of Use:</h3>
            <input type="date" name = "use_date" value = "{{today}}"><br><br>
            <br><br>
            <input type="submit" value="Use" id="add">
        </form>
        <br><br>
        </div> 
        <br><br>   
            <p>{% with messages = get_flashed_messages() %}
            {% if messages %}                            
                {% for message in messages %}            
                    <h2 id = "error">{{message}}</h2><br>                  
                {% endfor %}
            {% endif %}
            {% endwith %}</p>
    </main>
    </div>
</body>
</html>