/* reset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
.orange{
    color: #FF8330;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.flex-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header{
    
    
    padding: .5rem 2rem;
    width: 100%;
    background-color: #333;
    min-height: 105px;
    position: sticky;
    top: 0;
}
.header2{
    width: 100%;
    background-color: #f4f4f4;
    margin: 0 auto;
    text-align: center;
    min-height: 100px;
}
.header2 a{
    padding: .5em 1em;
    background-color: #333333;
    color: white;
    border: 1px solid white;
    min-width: 300px;
}
main{
    width: 100%;
    background-color: #f4f4f4;
    margin: 0 auto;
    text-align: center;
    min-height: 100%;
}
header h2{
    color:white;
    display: inline-block;
    margin: 20px;
    background-color: #333;
    font-size: x-large;
}
#logo{
    height: 100px;
    width: 450px;    
}
a{
    text-decoration: none;
    color: white;
    background-color: #333;
    font-size: x-large;
    margin: 5px;
}
header p{
    color: white;
    background-color: #333;
    size: 30px;
    font-size: large;
}
.selected{
    border: 1px solid white;
    color: #4ec3ba;
    font-size: x-large;
    background-color: #333;
    padding: .5em 1em;
}
table{
    padding: 4px 8px;
    text-align: center;    
    margin: 0 auto;
}
th{
    border: 1px solid black;
    padding: 4px 8px;
    font-size: x-large;
    
}
td{
    padding: 10px 20px;
    border: 1px solid black;
    font-size: larger;
}
#add{
    padding: .25em .5em;
    background-color: #333333;
    color: white;
    font-size: larger;
    width: 25%;
}
.box{
    border: 2px solid #333333;
    margin: 0 auto;
    width: 15%;
}
.box2{
    border: 2px solid #333333;
    margin: 0 auto;
    width: 30%;
}
select{
    width: 52%;
    text-align: center;
    height: 20px;
    font-weight: 400;
}
input{
    width: 52%;
    text-align: center;
}
#error{
    margin: 0 auto;
    width: 25%;
    /* color: white; */
    color: white;
    background-color: #707070;
    border: 1px solid #333333;
}
.editbox{
    display: inline block;
    width: 100%;
    
}
.delete{    
    padding: .25em .5em;
    background-color: #333333;
    color: white;
    font-size: larger;
    width: 25%;
    height: 36px;    
}
.white{
    border:1px solid #f4f4f4;
}
.green{
    
    font-weight: 700;
    color: green;
}
.daily{
    border: 1px solid #333333;
    padding: 10px;
    
}
.weekly{
    border: 1px solid #333333;
    width: 50%;
    margin: 0 auto;
    min-height: 300px;
    text-align: center;
    padding: 2rem 1rem;
    flex: 2;
    background-color: #333333;
    color: white;
}
.weekly_summary h2{
    display: inline-block;    
    
}
.test{
    flex: 1;
}
.monthly{
    margin: 0 auto;
    border: 1px solid #333333;
    min-height: 500px;
    width: 70%;
    padding: 10px;
    background-color: #f4f4f4;
}
.topline{
    margin: 0 100px 20px 100px;
}
.graph{    
    min-height: 25px;
    background-color: #90ee90;
    display:inline-block;    
    flex: 2;
}
.graph2{    
    min-height: 25px;
    background-color: #fff89e;
    display:inline-block;
    flex: 2;
    
}
.graph3{    
    min-height: 25px;
    background-color: #ff4d4d;
    display:inline-block;
    flex: 2;
}
.calendar{
    height: 175px;
    width: 175px;
    border: #333333 solid 1px;
    background-color: lightsteelblue;
    display: inline-block;
}